In [3]:
import pandas as pd

In [6]:
df = pd.read_csv('ds_salaries.csv')

In [7]:
df

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L
...,...,...,...,...,...,...,...,...,...,...,...,...
602,602,2022,SE,FT,Data Engineer,154000,USD,154000,US,100,US,M
603,603,2022,SE,FT,Data Engineer,126000,USD,126000,US,100,US,M
604,604,2022,SE,FT,Data Analyst,129000,USD,129000,US,0,US,M
605,605,2022,SE,FT,Data Analyst,150000,USD,150000,US,100,US,M
606,606,2022,MI,FT,AI Scientist,200000,USD,200000,IN,100,US,L

Let us say salary variability of Data Scientist are sigma1 and for Data Engineers are sigma 2

Null Hypothesis : sigma1 == sigma 2

Alternate Hypothesis : sigma1 !=sigma 2

In [8]:
ds = df[df['job_title']=="Data Scientist"]

In [10]:
de = df[df['job_title']=="Data Engineer"]

In [11]:
from scipy import stats

statistic, pvalue = stats.levene(ds['salary_in_usd'],de['salary_in_usd'], center='mean')

In [12]:
statistic

0.9072462073801725

In [13]:
pvalue

0.34168868884841164

as p value is higher than our significance level we are fail to reject null hypothesis.

## Question 2 [2 Marks]: It is claimed that the average annual salary of all employees

listed in the dataset is $100,000. Using the dataset ‘ds salaries.csv’, test this claim using
a one-sample t-test with the ‘salary in usd’ column. Use a significance level of α = 0.05.
Tasks:
• State the null and alternative hypotheses. [0.5]
• Perform the one-sample t-test using scipy.stats.ttest 1samp. [0.5]

1. Null Hypothesis : avg_salary = $1000000
2. Alternate Hypothesis : avg_salary != $1000000

In [33]:
statistic , pvalue = stats.ttest_1samp(df['salary_in_usd'], 100000, alternative='two-sided')

In [34]:
statistic

4.269995376558279

In [35]:
pvalue

2.2688287255787327e-05

as p value is less than our significance level we can reject null hypothesis

In [27]:
mean = df['salary_in_usd'].mean()
display(mean)

112297.86985172982

In [36]:
mean = 100000-mean
display(mean)

99691.77719091238

In [37]:
import numpy as np

In [38]:
std = df['salary_in_usd'].std()
display(std)

70957.25941139569

In [39]:
mean = mean/(std/np.sqrt(607))

In [40]:
mean

34.61440337378407