In [25]:
from scipy.stats import norm

In [26]:
import pandas as pd

In [27]:
df = pd.read_csv('Extended_Employee_Performance_and_Productivity_Data.csv')

In [28]:
df

,Employee_ID,Department,Gender,Age,Job_Title,Hire_Date,Years_At_Company,Education_Level,Performance_Score,Monthly_Salary,Work_Hours_Per_Week,Projects_Handled,Overtime_Hours,Sick_Days,Remote_Work_Frequency,Team_Size,Training_Hours,Promotions,Employee_Satisfaction_Score,Resigned
0,1,IT,Male,55,Specialist,2022-01-19 08:03:05.556036,2,High School,5,6750.0,33,32,22,2,0,14,66,0,2.63,False
1,2,Finance,Male,29,Developer,2024-04-18 08:03:05.556036,0,High School,5,7500.0,34,34,13,14,100,12,61,2,1.72,False
2,3,Finance,Male,55,Specialist,2015-10-26 08:03:05.556036,8,High School,3,5850.0,37,27,6,3,50,10,1,0,3.17,False
3,4,Customer Support,Female,48,Analyst,2016-10-22 08:03:05.556036,7,Bachelor,2,4800.0,52,10,28,12,100,10,0,1,1.86,False
4,5,Engineering,Female,36,Analyst,2021-07-23 08:03:05.556036,3,Bachelor,2,4800.0,38,11,29,13,100,15,9,1,1.25,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,Finance,Male,27,Technician,2022-12-07 08:03:05.556036,1,Bachelor,4,4900.0,55,46,5,3,75,16,48,2,1.28,False
99996,99997,IT,Female,36,Consultant,2018-07-24 08:03:05.556036,6,Master,5,8250.0,39,35,7,0,0,10,77,1,3.48,True
99997,99998,Operations,Male,53,Analyst,2015-11-24 08:03:05.556036,8,High School,2,4800.0,31,13,6,5,0,5,87,1,2.60,False
99998,99999,HR,Female,22,Consultant,2015-08-03 08:03:05.556036,9,High School,5,8250.0,35,43,10,1,75,2,31,1,3.10,False
99999,100000,Finance,Female,43,Analyst,2024-03-04 08:03:05.556036,0,PhD,1,4400.0,51,43,27,11,75,13,45,1,2.64,False

 ## Part A: Single Sample Z-Test (2.0 marks)
The company’s executive team claims that:
• The average Performance Score of employees is 3.0.
• The average Employee Satisfaction Score is 3.2.
Test both claims at a 5% significance level. Assume:
• Population standard deviation for Performance Score = 1.41
• Population standard deviation for Employee Satisfaction Score = 1.15
Tasks:
• For each claim, state the null and alternative hypotheses
• Calculate the sample mean, z-statistic.
• Make a decision (Reject/Fail to Reject H 0 ) for each test.
• Provide a summary table with results for both tests

In [29]:
import numpy as np

1. Null Hypothesis : avg = 3
2. Alternate Hypothesis : avg !=3

In [30]:
sample_mean = df['Performance_Score'].mean()
mu_0 = 3.0 # hypothesized population mean
sigma = 1.41 # known population standard deviation
n = len(df)
# Calculate Z-score
z_score = (sample_mean - mu_0) / (sigma / np.sqrt(n))
print(f"Z-score: {z_score}")

Z-score: -1.0249368019127718

In [31]:
p_value = 2 * (1 - norm.cdf(abs(z_score)))
print(f"P-value: {p_value}")

P-value: 0.3053930083598977

as p value is higher than our significance level we are fail to reject null hypothesis

In [32]:

# Create a summary
results = {
'Test Statistic (Z)': [z_score],
'P-value': [p_value],
'Significance Level': [0.05],
'Decision': ['Reject H₀' if p_value <= 0.05 else 'Fail to reject H₀']
}
results_df = pd.DataFrame(results)
print(results_df)

   Test Statistic (Z)   P-value  Significance Level           Decision
0           -1.024937  0.305393                0.05  Fail to reject H₀

1. Null Hypothesis : avg = 3.2
2. Alternate Hypothesis : avg != 3.2

In [33]:
sample_mean = df['Employee_Satisfaction_Score'].mean()
mu_0 = 3.2 # hypothesized population mean
sigma = 1.15 # known population standard deviation
n = len(df)
# Calculate Z-score
z_score = (sample_mean - mu_0) / (sigma / np.sqrt(n))
print(f"Z-score: {z_score}")

Z-score: -55.24680559553798

In [34]:

p_value = 2 * (1 - norm.cdf(abs(z_score)))
print(f"P-value: {p_value}")

P-value: 0.0

as p value is higher than our significance level we are fail to reject null hypothesis

In [35]:

# Create a summary
results = {
'Test Statistic (Z)': [z_score],
'P-value': [p_value],
'Significance Level': [0.05],
'Decision': ['Reject H₀' if p_value <= 0.05 else 'Fail to reject H₀']
}
results_df = pd.DataFrame(results)
print(results_df)

   Test Statistic (Z)  P-value  Significance Level   Decision
0          -55.246806      0.0                0.05  Reject H₀

## Part B: Two-Sample Z-Test (2.0 marks)
The HR department wants to investigate:
1. Whether there is a significant difference in average Work Hours Per Week between
employees who have Resigned (True) vs those who have Not Resigned (False). Use
α = 0.05.
Page 22. Whether there is a significant difference in the average Monthly Salary between
Male and Female employees. Use α = 0.05.
Assume population standard deviations:
• Work Hours Per Week: 8.94 hours for both groups
• Monthly Salary: $1,370 for both groups
Tasks:
• For each comparison, state the null and alternative hypotheses.
• Calculate sample means for both groups, z-statistic.
• Make a decision (Reject/Fail to Reject H 0 ) for each test.
• Provide a summary table with results for both tests.

In [36]:
res = df[df['Resigned']==True]
nres = df[df['Resigned']!=True]

1. Null Hypothesis : res_avg = nres_avg
2. Alternate Hypothesis : res_avg != nres_avg

In [37]:
sample_mean1 = res['Work_Hours_Per_Week'].mean()
s1 = 8.94
n1= len(res)

In [38]:
sample_mean2 = nres['Work_Hours_Per_Week'].mean()
s2 = 8.94
n2 = len(res)

In [39]:
z = (sample_mean1-sample_mean2)/np.sqrt((s1**2/n1)+(s2**2/n2))
display(z)

0.034200005381073234

In [40]:
p_value = 2 * (1 - norm.cdf(abs(z)))
print(f"P-value: {p_value}")

P-value: 0.9727176622513067

as p value is higher than significance level we are fail to reject null hypothesis

In [41]:

# Create a summary
results = {
'Test Statistic (Z)': [z],
'P-value': [p_value],
'Significance Level': [0.05],
'Decision': ['Reject H₀' if p_value <= 0.05 else 'Fail to reject H₀']
}
results_df = pd.DataFrame(results)
print(results_df)

   Test Statistic (Z)   P-value  Significance Level           Decision
0              0.0342  0.972718                0.05  Fail to reject H₀

In [42]:
w = df[df['Gender']=='Female']
m = df[df['Gender']=='Male']

1. Null Hypothesis : w_avg = m_avg
2. Alternate Hypothesis : w_avg != m_avg

In [43]:
sample_mean1 = w['Monthly_Salary'].mean()
s1 = 1370
n1= len(w)

In [44]:
sample_mean2 = m['Monthly_Salary'].mean()
s2 = 1370
n2= len(m)

In [45]:
z = (sample_mean1-sample_mean2)/np.sqrt((s1**2/n1)+(s2**2/n2))
display(z)

0.5094386043644639

In [46]:
p_value = 2 * (1 - norm.cdf(abs(z)))
print(f"P-value: {p_value}")

P-value: 0.610444822747235

as p value is higher than significance level we are fail to reject null hypothesis

In [47]:

# Create a summary
results = {
'Test Statistic (Z)': [z],
'P-value': [p_value],
'Significance Level': [0.05],
'Decision': ['Reject H₀' if p_value <= 0.05 else 'Fail to reject H₀']
}
results_df = pd.DataFrame(results)
print(results_df)

   Test Statistic (Z)   P-value  Significance Level           Decision
0            0.509439  0.610445                0.05  Fail to reject H₀