# DataFrames and Analysis
### Author: Parv
This notebook contains solutions for DS3030 Lab 2.
It covers NumPy data generation, pandas DataFrame manipulation, COMPAS dataset analysis, and weather data processing using JSON.

Q1

Set a random seed at the beginning: np.random.seed(42).

(a) Create the following NumPy arrays:
    1. np1: Integers from 1 to 100 (inclusive).
    2. np2: 100 samples from a normal distribution with mean = 170 and standard
        deviation = 10.
    3. np3: 100 samples from a uniform distribution between 60 and 90.
    4. np4: 100 random integers between 20,000 and 100,000 (inclusive).
    5. np5: Randomly assign one of the categories “HR”, “Sales”, “Tech”, or
        “Finance” to each element.
Use appropriate NumPy functions for each step.

Q2

Construct a pandas DataFrame using the arrays from Question 1, with columns:
    • ID (from np1)
    • Height Normal (from np2)
    • Weight Uniform (from np3)
    • Salary Random (from np4)
    • Department (from np5)

(a) Construct the DataFrame and display the first five rows.
(b) Save the DataFrame to employee data.csv without the index column so the
    ID column remains the first column.
(c) Read back employee data.csv into a new DataFrame named df. Show the
    code you used.

In [18]:
# Q2 b)
df.to_csv('employee_data.csv',index=False)

Q3

Using the DataFrame df loaded from CSV:
    (a) Print the mean and variance of all numeric columns.
    (b) Display the count of each category in the Department column.
    (c) Show the summary statistics of all numeric columns (i.e., using df.describe()).
    (d) Identify which department has the highest average Salary Random. (Show the
    code and the department name.)

4. Load the dataset to a pandas dataframe and print
    a. Total Number of records (rows)
    b. Number of features (columns)
    c. Names of features and their types.

5. Perform Age Analysis Of Offenders by printing
a. Various age categories in the dataset
b. Number of offenders above the age of 40

6. Perform Race Analysis Of Offenders by printing
a. Count of offenders per race category
b. Most frequent race in the dataset
c. Average age per race

Q7
(a) Load the JSON file containing multiple city weather records.
(b) Create a DataFrame with the following columns: city name, country, longitude,
latitude, date, day temp, min temp, max temp, pressure, humidity, weather main.
(c) Display the total number of rows in the DataFrame.
(d) Display the count of unique cities present in the data.

In [151]:
# Q7 a
import json

with open('weather_data.json', 'r') as f:
        weather_records = json.load(f)

(weather_records)

8.
(a) Filter the DataFrame to include only cities located within longitude 30◦
to 40◦
(European region).
(b) For each city, retain data for only the first 7 days.
Page 3
(c) Remove any rows where the humidity value is 0 (considered invalid readings).
(d) Create a subset consisting of exactly 2 cities and their corresponding 7-day data
(total 14 rows).

9. Temperature Conversion and Analysis (2)
(a) Convert the temperature columns (day temp, min temp, max temp) from Kelvin
to Celsius.
(b) Calculate the daily temperature range (max temp − min temp) for each day.
(c) Identify the city and date with the highest temperature range recorded.
(d) Compute the mean day temperature (in Celsius) for each city over the 7-day
period.

In [159]:
# Q9 a
# To convert kelvin tempratures into celcius subtracting 273 from given kelvin temprature
dw['day_temp']-=273
dw['min_temp']-=273
dw['max_temp']-=273

In [160]:
# Q9 b
dw['daily_temp_range'] = dw['max_temp']-dw['min_temp']