# DS3030 — Data Analytics — Lab 1 

**Student:** Parv Patel

## Common imports and helper utilities
This cell imports common modules and defines helper utilities.

In [17]:
import math
from collections import Counter
import string


def show_example(title, value):
    print(f"--- {title} ---")
    print(value)
    print()

### Q1. Age in 2060
Write a function that takes DOB in `DD-MM-YYYY` and returns age in 2060.

In [18]:
def age_in_2060(dob_str):
    try:
        d, m, y = dob_str.split('-')
        d, m, y = int(d), int(m), int(y)
    except Exception:
        raise ValueError('DOB must be in DD-MM-YYYY format')
    return 2060 - y

show_example('Q1 example', f'You will be {age_in_2060("15-08-2000")} years old in 2060.')

--- Q1 example ---
You will be 60 years old in 2060.

### Q2. Sum of two strings representing numbers
Convert two numeric strings to integers and return their sum.

In [19]:
def sum_str_numbers(a_str, b_str):
    try:
        return int(a_str) + int(b_str)
    except ValueError:
        raise ValueError('Both inputs must represent integers')

show_example('Q2 example', f'The sum is: {sum_str_numbers("25", "75")}')

--- Q2 example ---
The sum is: 100

### Q3. Sentence from Name, Age, Language
Produce sentence using `+=`, `join()`, and `str.format()`.

In [20]:
def build_sentence(name, age, language):
    s1 = ''
    s1 += f"My name is {name}, I am {age} years old, and I love programming in {language}."
    s2 = ' '.join([f"My name is {name},", f"I am {age} years old,", f"and I love programming in {language}."])
    s3 = 'My name is {}, I am {} years old, and I love programming in {}.'.format(name, age, language)
    return s1, s2, s3

show_example('Q3 example', build_sentence('Alice', 21, 'Python'))

--- Q3 example ---
('My name is Alice, I am 21 years old, and I love programming in Python.', 'My name is Alice, I am 21 years old, and I love programming in Python.', 'My name is Alice, I am 21 years old, and I love programming in Python.')

### Q4. Remove punctuation using `str.translate()` and `string.punctuation`

In [21]:
def remove_punctuation(s):
    translator = str.maketrans('', '', string.punctuation)
    return s.translate(translator)

show_example('Q4 example', remove_punctuation('Hello, world! How are you doing today?'))

--- Q4 example ---
Hello world How are you doing today

### Q5. String transformations without modifying original

In [22]:
def string_transformations(s):
    original = s
    return {
        'original': original,
        'upper': original.upper(),
        'lower': original.lower(),
        'capitalized': original.capitalize(),
        'replaced': original.replace('Python', 'Java'),
        'stripped': original.strip()
    }

res = string_transformations(' Hello, Python World! ')
show_example('Q5 example', res)
print('Original after all operations:', repr(res['original']))

--- Q5 example ---
{'original': ' Hello, Python World! ', 'upper': ' HELLO, PYTHON WORLD! ', 'lower': ' hello, python world! ', 'capitalized': ' hello, python world! ', 'replaced': ' Hello, Java World! ', 'stripped': 'Hello, Python World!'}

Original after all operations: ' Hello, Python World! '

### Q6. Lists for letters, digits, specials; construct 'DS3030: Data Analytics'

In [23]:
import string as _s
letters = list(_s.ascii_letters)
digits = list(_s.digits)
specials = list(_s.punctuation)
constructed = 'DS3030: Data Analytics'
show_example('Q6 example', constructed)

--- Q6 example ---
DS3030: Data Analytics

### Q7. Transpose a matrix using list comprehension / zip

In [24]:
def transpose_matrix(mat):
    return [list(row) for row in zip(*mat)]

matrix = [[1,2,3],[4,5,6]]
show_example('Q7 original', matrix)
show_example('Q7 transpose', transpose_matrix(matrix))

--- Q7 original ---
[[1, 2, 3], [4, 5, 6]]

--- Q7 transpose ---
[[1, 4], [2, 5], [3, 6]]

### Q8. Copies and references of lists

In [25]:
A = [1,2,3]
B = A[:]
C = A
B[0] = 100
C[1] = 200
show_example('Q8 A', A)
show_example('Q8 B', B)
show_example('Q8 C', C)

--- Q8 A ---
[1, 200, 3]

--- Q8 B ---
[100, 2, 3]

--- Q8 C ---
[1, 200, 3]

### Q9. Nested dictionary tasks

In [26]:
first = dict(name='Alice', city='Delhi')
second = dict(a=1, b=2, c=3)
third = dict(flag1=True, flag2=False)

nested = dict(first=first, second=second, third=third)
show_example('Q9 second (direct)', nested['second'])
show_example('Q9 second (items)', list(nested['second'].items()))
# delete third
del nested['third']
show_example('Q9 first keys', list(nested['first'].keys()))
updated_second = {k: v+10 for k, v in nested['second'].items()}
show_example('Q9 updated second items', list(updated_second.items()))

--- Q9 second (direct) ---
{'a': 1, 'b': 2, 'c': 3}

--- Q9 second (items) ---
[('a', 1), ('b', 2), ('c', 3)]

--- Q9 first keys ---
['name', 'city']

--- Q9 updated second items ---
[('a', 11), ('b', 12), ('c', 13)]

### Q10. Frequency dictionary from list of 100 numbers; most frequent element

In [27]:
import random
random.seed(0)
lst = [random.randint(0,20) for _ in range(100)]
freq = dict(Counter(lst))
most_freq = max(freq.items(), key=lambda x: x[1])
show_example('Q10 sample frequencies (first 10)', list(freq.items())[:10])
show_example('Q10 most frequent (value,count)', most_freq)

--- Q10 sample frequencies (first 10) ---
[(12, 4), (13, 2), (1, 4), (8, 4), (16, 4), (15, 7), (9, 7), (11, 2), (18, 4), (6, 5)]

--- Q10 most frequent (value,count) ---
(17, 10)

### Q11. Largest gap between consecutive primes in [a,b]

In [28]:
def is_prime(n):
    if n < 2:
        return False
    if n in (2,3):
        return True
    if n % 2 == 0:
        return False
    r = int(math.sqrt(n))
    for i in range(3, r+1, 2):
        if n % i == 0:
            return False
    return True


def largest_prime_gap(a, b):
    primes = [x for x in range(a, b+1) if is_prime(x)]
    if len(primes) < 2:
        return 0
    return max(primes[i+1]-primes[i] for i in range(len(primes)-1))

show_example('Q11 example (10,30)', largest_prime_gap(10,30))

--- Q11 example (10,30) ---
6

### Q12. Digital root

In [29]:
def digital_root(n):
    if n == 0:
        return 0
    return 1 + ((n-1) % 9)

show_example('Q12 example (9875)', digital_root(9875))

--- Q12 example (9875) ---
2

### Q13. Vowel-Consonant patterns (A/B/C/D)

In [30]:
VOWELS = set('aeiou')

def check_vowel_consonant_pattern(s):
    n = len(s)
    if n < 1 or not s.isalpha() or not s.islower():
        return 'NO'
    if n >= 2 and all(ch in VOWELS for ch in s):
        return 'YES'
    if n >= 2 and all(ch not in VOWELS for ch in s):
        return 'YES'
    condA = all((s[i] in VOWELS) if i%2==0 else (s[i] not in VOWELS) for i in range(n))
    condB = all((s[i] not in VOWELS) if i%2==0 else (s[i] in VOWELS) for i in range(n))
    return 'YES' if (condA or condB) else 'NO'

show_example('Q13 abubu', check_vowel_consonant_pattern('abubu'))
show_example('Q13 aeiou', check_vowel_consonant_pattern('aeiou'))
show_example('Q13 bcdfg', check_vowel_consonant_pattern('bcdfg'))

--- Q13 abubu ---
YES

--- Q13 aeiou ---
YES

--- Q13 bcdfg ---
YES

### Q14. Count Fibonacci numbers in an array

In [31]:
def count_fib_numbers(arr):
    limit = max(arr) if arr else 0
    fib_set = set()
    a, b = 0, 1
    while a <= limit:
        fib_set.add(a)
        a, b = b, a+b
    return sum(1 for x in arr if x in fib_set)

arr = [1,4,8,13,21,25]
show_example('Q14 example', count_fib_numbers(arr))

--- Q14 example ---
4

### Q15. Bracket sequence validity

In [32]:
def is_valid_brackets(s):
    pairs = {')':'(', ']':'[', '}':'{'}
    stack = []
    for ch in s:
        if ch in '([{':
            stack.append(ch)
        elif ch in pairs:
            if not stack or stack[-1] != pairs[ch]:
                return 'INVALID'
            stack.pop()
        else:
            return 'INVALID'
    return 'VALID' if not stack else 'INVALID'

show_example('Q15 valid', is_valid_brackets('{[()]}'))
show_example('Q15 invalid', is_valid_brackets('[(])'))

--- Q15 valid ---
VALID

--- Q15 invalid ---
INVALID